#survey {
	height: 145px;
	margin-top: 25px;
	padding: 30px 0;
	text-align: center;
	color: #464646;
	background: url(/ArquivosEstaticos/MinhaOi/style/images/logout-survey/survey-box.png) center 0 no-repeat;
}

#survey h4 {
	font-size: 30px;
	color: #464646;
	line-height: 25px;
}

#survey p {
	font-size: 18px;
}

#survey-yes {
	background: url(/ArquivosEstaticos/MinhaOi/style/images/logout-survey/bt-orange-medium.png) no-repeat;
	display: block;
	width: 222px;
	padding: 11px 0;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	margin: 18px auto;
}

#survey .decision {
	margin-top: 18px;
}

#survey .decision li {
	display: inline;
	border-left: 1px solid #807dab;
	padding: 0 10px;
}

#survey .decision a{
	font-size: 12px;
	font-weight: bold;
	color: #807dab;
	text-decoration: none;
}

#survey .decision li:first-child {
	border-left: none;
}

.banner-landing {
	margin: 10px auto;
}