<aside id="nav-menu-principal">
	<nav>
		<ul class="nav nav-sidebar">

						<li id="list_inicio-bt" class="active">
							<a id="inicio-bt" href="/portal/site/MinhaOi/home"><span class="inicio"></span>Início</a>
						</li>


						<!-- BEGIN: style_type_minhaoi_lateral_menu_combo-->
						<li>


              <!-- begin: style_minhaoi_lateral_menu_combo -->

		          </li><li>
        			<a id="combo-bt" href="/portal/site/MinhaOi/home_produto_combo"> <span class="combo"></span>Combo</a>
                </li>

						<!-- END style_type_minhaoi_lateral_menu_combo-->

						<!-- BEGIN: style_minhaoi_lateral_menu_mvl-->
						<li>

              <!-- begin: style_minhaoi_lateral_menu_mvl -->

        		</li><li>
        			<a id="movel-bt" href="/portal/site/MinhaOi/home_produto_mvl"><span class="movel"></span>Móvel</a>
        		</li>

						<!-- BEGIN: style_minhaoi_lateral_menu_mvl-->

						<!-- BEGIN: style_minhaoi_lateral_menu_int-->
						<li>

            <!-- begin: style_minhaoi_lateral_menu_int -->

        	  </li><li>
        		<a id="internet-bt" href="/portal/site/MinhaOi/home_produto_int"><span class="internet"></span>Internet</a>
        	  </li>

						<!-- BEGIN: style_minhaoi_lateral_menu_int-->

		</ul>
	</nav>
</aside>

<!-- Oi Puntos Recarga-->

<!--  INICIO SIDEBAR -->
<aside>
		<div class="vgn-ext-region" vgnextregionname="CO > Comum > SideBar" vgnextregionscope="template" vgnextregiontypes="VgnExtiConteudoOrdenado" vgnextregionid="d3e96f5fa1409310VgnVCM10000031d0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/render_minhaoi_sidebar.jsp"><div class="vgn-ext-component" vgnextcomponentid="dbd96f5fa1409310VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtiConteudoOrdenado">

<!--
Canal Recebido -> Home
-->

	<aside id="nav-menu-servicos">
            <h3 class="first-child">Recarga Online</h3>
            <nav>
              <ul class="nav nav-sidebar">
                <li><a class="ajaxLink ga_minhaoi_banner" title="Side Recarga com cartao" href="/portal/site/MinhaOi/menuitem.ec10c32f89b20bafc313c313eccc02a0/?vgnextoid=e85a27e947c98410VgnVCM10000031d0200aRCRD "><span class="recarga pull-left"></span>Recarregue com Cartão de Crédito</a></li>
              </ul>
            </nav>
          </aside>

          <aside id="nav-menu-servicos">
            <h3 class="first-child">Serviços</h3>
            <nav>
              <ul class="nav nav-sidebar">
                <li><a class="ajaxLink ga_minhaoi_banner" title="Acompanhe a Instalação Oi Fixo" href="/portal/site/MinhaOi/AcompanharInstalacao"><span class="acomp-instalacao pull-left"></span>Acompanhe a Instalação Oi Fixo</a></li>
                <li><a class="box sidebar-duvidas-minha-oi-R1_sem_RJ  ga_minhaoi_banner" title="Envie Torpedos Ilimitados" href="javascript:TorpedoMinhaOi()"><span class="torpedos pull-left"></span>Envie Torpedos Ilimitados</a></li>
                <li><a class="ga_minhaoi_banner" title="Fale com a Oi" target="_blank" href="http://www.oi.com.br/oi/oi-pra-voce/minha-oi/envie-um-email"><span class="fale-oi pull-left"></span>Fale com a Oi</a></li>

              </ul>
            </nav>
          </aside>

          <aside id="nav-menu-oi-pontos">
            <h3 class="first-child">Oi Pontos</h3>
            <nav>
              <ul class="nav nav-sidebar">
                <li><a class="ajaxLink ga_minhaoi_banner" style="" href="/portal/site/MinhaOi/parceiros?minhaoi.parceiros.url=URLP170ad9f6-46fb-4b88-9faf-5bda12730b9e#content" title="Seu Oi Pontos"><span class="oi-pontos pull-left"></span>Seu Oi Pontos</a></li>
              </ul>
            </nav>
          </aside>

        </div>
      </div>

	</aside>
	<!--  FIM SIDEBAR -->
