<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
				<div class="row box-header">
					<div class="container">
						<div class="col-xs-12 pull-left">
									<!-- style_minhaoi_telefones_inclusos :: INICIO -->

	                <!-- begin: style_minhaoi_telefones_inclusos -->
	                <div class="col-xs-12 pull-left">

	                  <p>Telefones no plano:</p>
	                  <p class="telefones-plano">
	                    (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
	                  </p>
			              <input id="idProdutoHome" type="hidden" value="">
	                </div>



	                <!-- end: style_minhaoi_telefones_inclusos -->



									<!-- style_minhaoi_telefones_inclusos :: FIM -->
								</div>
								<!-- teste categoria plano oct  -->

							</div>
						</div>

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

	        <section class="account-menu">
	          <ul class="clearfix" style="display: flex;justify-content: space-around;">

	            <li class="" style="width: 100%;">
	          	 <a href="#" style="">Contas</a>
	          	</li>

	          	<li class="" style="width: 100%;">
	          	 <a href="#" style="">Serviços</a>
	          	</li>

	          	<li class="last-child" style="background: none;width: 100%;">
	          	 <a href="/">Oi Pontos</a>
	          	</li>

	          </ul>
	        </section>

	        <section class="section__title">
	          <p class="title-cingapura">Compra de pacote</p>
	        </section>


					<section class="section__itensCompraPacote">
						<!-- Item pacote 1 -->
						<div class="panel panel-default col-xs-6 without-padding item-plano-cingapura">
						  <div class="panel-body dados-conta">
						      <table class="table">
						        <tbody>
						          <tr class="last-child table__title">
						            <td class=""><h4 class="name-cingapura">Marianna</h4></td>
						            <td class="">
				                  <p class="phone-cingapura pull-right">
				                    (21) 99872-9799
				                  </p>
						            </td>
						          </tr>
						        </tbody>
						      </table>

						      <table class="table">
						        <tbody>
						          <tr class="tr__media-consumo">
						            <td class=""><b>Média de consumo:</b> <span class="media-consumo-cingapura">21 MB por dia</span></td>
						          </tr>
						          <tr>
						            <td class="message__warn">
						              <p class="table__warn">
						              <i class="material-icons warn-icon">&#xE8B2;</i>
				                    <span> Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.</span>
						            </p>
						          </td>
						          </tr>
						          <tr class="table__tr--saldo table__align--center">
						            <td class="table__saldo"><b>Saldo de internet</b></td>
						          </tr>
						          <tr class="table__tr--saldo table__align--center">
						            <td><b class="saldo__plano expired">0.05 GB</b>  <span class="total__plano">/ 2 GB</span></td>
						          </tr>
						          <tr class="table__align--center cor__second">
						            <td class="font_menor">válido até 30/10/2017 </td>
						          </tr>
						          <tr class="">
						            <td>
						              <a title="Comprar Pacote" class="btn btn-default button__comprarPacote" href="compraPacoteEscolha.html" role="button"><span class="text-align">comprar pacote</span></a>
						            </td>
						          </tr>
						        </tbody>
						      </table>
						    </div>
						  </div>
							<!-- Fim Item pacote 1 -->
							<!-- Item pacote 2 -->
							<div class="panel panel-default col-xs-6 without-padding item-plano-cingapura">
						    <div class="panel-body dados-conta">
						      <table class="table">
						        <tbody>
						          <tr class="last-child table__title">
						            <td class=""><h4 class="name-cingapura">(21) 99872-9799</h4></td>
						            <td class="">
				                  <p class="phone-cingapura pull-right" style="display:none">
				                    (21) 99872-9799
				                  </p>
						            </td>
						          </tr>
						        </tbody>
						      </table>
						      <table class="table">
						        <tbody>
						          <tr class="tr__media-consumo">
						            <td class=""><b>Média de consumo:</b> <span class="media-consumo-cingapura">21 MB por dia</span></td>
						          </tr>
											<tr>
											 <td>
												 <p class="table__warn" style="display:none">
												 <i></i>
												 Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.
											 </p>
										 </td>
										 </tr>
						          <tr class="table__tr--saldo table__align--center">
						            <td class="table__saldo"><b>Saldo de internet</b></td>
						          </tr>
						          <tr class="table__tr--saldo table__align--center">
						            <td><b class="saldo__plano">0.95 GB</b> <span class="total__plano">/ 1 GB</span></td>
						          </tr>
						          <tr class="table__align--center cor__second">
						            <td class="font_menor">válido até 30/10/2017 </td>
						          </tr>
						          <tr class="">
						            <td>
						              <a title="Comprar Pacote" class="btn btn-default button__comprarPacote" href="compraPacoteEscolha.html" role="button"><span class="text-align">comprar pacote</span></a>
						            </td>
						          </tr>
						        </tbody>
						      </table>
						    </div>
						  </div>
							<!-- Fim Item pacote 2 -->
							<!-- Item pacote 3 -->
							<div class="panel panel-default col-xs-6 without-padding item-plano-cingapura">
								<div class="panel-body dados-conta">
									<table class="table">
										<tbody>
											<tr class="last-child table__title">
												<td class=""><h4 class="name-cingapura">Henrique</h4></td>
												<td class="">
													<p class="phone-cingapura pull-right">
														(21) 98721-0921
													</p>
												</td>
											</tr>
										</tbody>
									</table>
									<table class="table">
										<tbody>
											<tr class="tr__media-consumo">
												<td class=""><b>Média de consumo:</b> <span class="media-consumo-cingapura">228 MB por dia</span></td>
											</tr>
											<tr>
											 <td>
												 <p class="table__warn" style="display:none">
												 <i></i>
												 Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.
											 </p>
										 </td>
										 </tr>
											<tr class="table__tr--saldo table__align--center">
												<td class="table__saldo"><b>Saldo de internet</b></td>
											</tr>
											<tr class="table__tr--saldo table__align--center">
												<td><b class="saldo__plano">2.8 GB</b> <span class="total__plano">/ 5 GB</span></td>
											</tr>
											<tr class="table__align--center cor__second">
												<td class="font_menor">válido até 30/10/2017 </td>
											</tr>
											<tr class="">
												<td>
													<a title="Comprar Pacote" class="btn btn-default button__comprarPacote" href="compraPacoteEscolha.html" role="button"><span class="text-align">comprar pacote</span></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Fim Item pacote 3 -->

							<!-- Item pacote 4 -->
							<div class="panel panel-default col-xs-6 without-padding item-plano-cingapura">
								<div class="panel-body dados-conta">
									<table class="table">
										<tbody>
											<tr class="last-child table__title">
												<td class=""><h4 class="name-cingapura">Ludmilla</h4></td>
												<td class="">
													<p class="phone-cingapura pull-right">
														(21) 98712-0921
													</p>
												</td>
											</tr>
										</tbody>
									</table>
									<table class="table">
										<tbody>
											<tr class="tr__media-consumo">
												<td class=""><b>Média de consumo:</b> <span class="media-consumo-cingapura">1 MB por dia</span></td>
											</tr>
											<tr>
											 <td>
												 <p class="table__warn" style="display:none">
												 <i></i>
												 Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.
											 </p>
										 </td>
										 </tr>
											<tr class="table__tr--saldo table__align--center">
												<td class="table__saldo"><b>Saldo de internet</b></td>

											</tr>
											<tr class="table__tr--saldo table__align--center">
												<td><b class="saldo__plano">3.1 GB</b> <span class="total__plano">/ 5 GB</span></td>
											</tr>
											<tr class="table__align--center cor__second">
												<td class="font_menor">válido até 30/10/2017 </td>
											</tr>
											<tr class="">
												<td>
													<a title="Comprar Pacote" class="btn btn-default button__comprarPacote" href="compraPacoteEscolha.html" role="button"><span class="text-align">comprar pacote</span></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Fim Item pacote 4 -->
							<!-- Item pacote 5 -->
							<div class="panel panel-default col-xs-6 without-padding item-plano-cingapura">
								<div class="panel-body dados-conta">
									<table class="table">
										<tbody>
											<tr class="last-child table__title">
												<td class=""><h4 class="name-cingapura">Fernando</h4></td>
												<td class="">
													<p class="phone-cingapura pull-right">
														(21) 98712-0921
													</p>
												</td>
											</tr>
										</tbody>
									</table>
									<table class="table">
										<tbody>
											<tr class="tr__media-consumo">
												<td class=""><b>Média de consumo:</b> <span class="media-consumo-cingapura">391 MB por dia</span></td>
											</tr>
											<tr>
											 <td>
												 <p class="table__warn" style="display:none">
												 <i></i>
												 Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.
											 </p>
										 </td>
										 </tr>

											<tr class="table__tr--saldo table__align--center">
												<td class="table__saldo"><b>Saldo de internet</b></td>
											</tr>
											<tr class="table__tr--saldo table__align--center">
												<td><b class="saldo__plano">2.8 GB</b> <span class="total__plano">/ 5 GB</span></td>
											</tr>
											<tr class="table__align--center cor__second">
												<td class="font_menor">válido até 30/10/2017 </td>
											</tr>
											<tr class="">
												<td>
													<p class="button__PacoteIndisponivel"><i class="material-icons info-icon">&#xE000;</i> Não é possível comprar pacotes pra este número. Em caso de dúvidas, ligue pra *144 do seu Oi ou 1057 de qualquer telefone.</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						<!-- Fim Item pacote 5 -->
						</section>
					</div>
				</div>
		</div>
	</div>
</div>
