<div id="home-produto" class="main pull-left">
<style>
  /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

            <section class="account-menu">
              <ul class="clearfix" style="display: flex;justify-content: space-around;">

                <li class="" style="width: 100%;">
              	 <a href="#" style="">Contas</a>
              	</li>

              	<li class="" style="width: 100%;">
              	 <a href="#" style="">Serviços</a>
              	</li>

              	<li class="last-child" style="background: none;width: 100%;">
              	 <a href="/">Oi Pontos</a>
              	</li>

              </ul>
            </section>


            <section class="section__title">
              <p class="title-cingapura">Compra de pacote</p>
            </section>



						<section class="compra-pacote-cingapura">

							<p>Os dados extras comprados como pacotes não poderão ser transferidos entre os usuários do plano.</p>
						</section>

						<section class="box-internet">
							<p>
								<i class="pkge-icon"></i>
								<span class="title"><strong>1 GB de internet por R$ 24,90</strong></span>
								<br/>
								<span class="box__pacote--date cor__second">Válido até 10/10/2017</span>
							</p>

						</section>
            <section>
              <a class="btn btn-default btn-confirmar-pacote btn-block-confirmar-pacote" href="compraPacoteSucesso.html">Confirmar compra</a>
            </section>
						<section class="compra-pacote-cingapura-voltar">
							<a href="#">Voltar</a>
						</section>

            <section class="info-pacote-cingapura">
              O pacote Mais Internet é uma compra avulsa cobrada na sua conta com validade até o último dia do período da sua fatura.<br/>
              <a href="#">Consulte o regulamento</a>
            </section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
