<div id="home-produto" class="main pull-left">
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

            <section class="account-menu">
              <ul class="clearfix" style="display: flex;justify-content: space-around;">

                <li class="" style="width: 100%;">
              	 <a href="#" style="">Contas</a>
              	</li>

              	<li class="" style="width: 100%;">
              	 <a href="#" style="">Serviços</a>
              	</li>

              	<li class="last-child" style="background: none;width: 100%;">
              	 <a href="/">Oi Pontos</a>
              	</li>

              </ul>
            </section>

            <!-- mensagem de erro -->
            <section class="section__title">
              <p class="title-cingapura">Compra de pacote</p>
            </section>

            <!-- info de erro -->
            <section class="warn-message-info">
              <i class="material-icons warn-icon">&#xE8B2;</i>
              <span>Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.
              </span>
            </section>
						<section class="compra-pacote-cingapura">
							<h5>Escolha um pacote pra Maria (21) 99872-9777</h5>
							<p>Os dados extras comprados como pacotes não poderão ser transferidos entre os usuários do plano.</p>
						</section>
            <section class="box-internet">
              <p class="col-xs-6">
                <i class="pkge-icon"></i>
                <span class="title"><strong>50 MB de internet por R$ 9,90</strong></span>
                <br/>
                <span class="box__pacote--date cor__second">Válido até 10/10/2017</span>
              </p>
              <p class="col-xs-6 pull-right">
                <a class="btn btn-default btn-block-compra-pacote-internet btn-comprar-pacote-internet">Comprar pacote</a>
              </p>
            </section>

						<section class="box-internet">
							<p class="col-xs-6">
								<i class="pkge-icon"></i>
								<span class="title"><strong>1 GB de internet por R$ 24,90</strong></span>
								<br/>
								<span class="box__pacote--date cor__second">Válido até 10/10/2017</span>
							</p>
							<p class="col-xs-6 pull-right">
								<a class="btn btn-default btn-block-compra-pacote-internet btn-comprar-pacote-internet" href="compraPacoteConfirma.html">Comprar pacote</a>
							</p>
						</section>

						<section class="compra-pacote-cingapura-voltar">
							<a href="#">Voltar</a>
						</section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
