
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
<script>
  function scrollTop(){
    $("html, body").animate({ scrollTop: 0 }, "slow");
  }

  $(document).ready(function(){
    $(".button-scroll-top").click(function(){
      scrollTop();
    })
  })
</script>

  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>

									</div>
								</div>
							</div>


              <section class="account-menu">
                <ul class="clearfix" style="display: flex;justify-content: space-around;">

                  <li class="" style="width: 100%;">
                	 <a href="#" style="">Conta</a>
                	</li>

                	<li class="" style="width: 100%;">
                	 <a href="#" style="">Serviços</a>
                	</li>

                	<li class="last-child" style="background: none;width: 100%;">
                	 <a href="/">Oi Pontos</a>
                	</li>

                </ul>
              </section>

              <!-- mensagem de erro -->
              <section>
                <p class="message-title">Histórico de ações</p>
                <p class="message-body">
                  Este histórico de internet exibe as ações realizadas nos últimos 90 dias.
                </p>
              </section>

              <div class="panel panel-default panel-component-info">
                <div class="panel-heading">
                  <strong>FILTRAR POR</strong>
                  <select>
                    <option value="">Todas as ações</option>
                    <option value="">Transferência</option>
                    <option value="">Compra de pacotes</option>
                    <option value="">Redefinição de franquia</option>
                  </select>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Redefinição de franquia</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Redefinição de franquia</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Redefinição de franquia</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>


                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Redefinição de franquia</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>


                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Redefinição de franquia</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                    <div class="info">5GB para (21) 99982-2812</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Compra de pacotes</div>
                    <div class="info">1GB por R$10,00 para (21) 99812-2019</div>
                  </div>
                </div>

                <!-- item -->
                <div class="panel-body">
                  <div class="item-left">
                    <div class="date">31/05</div>
                    <div class="hour">19:44</div>
                  </div>
                  <div class="item-right">
                    <div class="title">Transferência</div>
                    <div class="hour">10 MB de (21) 99992-8192 para (21) 91882-0122</div>
                  </div>
                </div>

                <div class="scroll-top">
                  <section class="message-default">
                    <i class="material-icons">error</i>
                    <span>Não há mais ações nos últimos 90 dias.</span>
                  </section>
                  <div class="button-scroll-top">
                    <i class="material-icons">keyboard_arrow_up</i>
                  </div>
                </div>
            </div>


				</div>
			</div>
		</div>

	</div>
	<!-- end: div_content -->


</div>
