<script>
$(document).ready(function(){
	$( '#overlay, #close').on('click', function(event) {
    $(".lightbox").hide();
});
});
</script>
<!-- <section>
	<div id="myModal" role="dialog" class="modal fade modal-ini-minhaoi">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button data-dismiss="modal" type="button" class="close">×</button>
				</div>
				<div class="modal-body">

					<p class="title-modal">A internet está quase no fim?</p>
					<p >Se um número do plano está ficando sem internet, você tem duas opções:</p>
					<div class="col-xs-5 box-modal">
						<p class="parag-modal">Transferir internet entre
			 				os números do plano.
						</p>
						<a class="btn btn-default btn-modal-cingapura">Transferir saldo</a>

					</div>
					<div class="col-xs-5 pull-right box-modal">
						<p class="parag-modal">Comprar um pacote avulso de internet.
						</p>
						<a class="btn btn-default btn-modal-cingapura" href="compraPacote.html">Comprar pacote</a>

					</div>
			</div>
		</div>
	</div>
</div>
</section> -->
<section class="lightbox">
	<div class="modal-ini-minhaoi">
		<span class="close-icon"><i class="material-icons close-icon" id="close">&#xE5CD;</i></span>

		<p class="title-modal">A internet está quase no fim?</p>
		<p >Se um número do plano está ficando sem internet, você tem duas opções:</p>
		<div class="col-xs-5 box-modal">
			<p class="parag-modal">Transferir internet entre
 				os números do plano.
			</p>
			<a class="btn btn-default btn-modal-cingapura">Transferir saldo</a>

		</div>
		<div class="col-xs-5 pull-right box-modal">
			<p class="parag-modal">Comprar um pacote avulso de internet.
			</p>
			<a class="btn btn-default btn-modal-cingapura" href="compraPacote.html">Comprar pacote</a>

		</div>
	</div>
	<div id="overlay"></div>
</section>
