
<div id="home-produto" class="main pull-left">
<style>

    /* <!-- inject:css --> */

</style>

<!-- bar chart -->
<script>
    /* <!-- inject:js:chart --> */
</script>


<!-- donut -->
<script>
/* <!-- inject:js:chart:pie --> */
</script>

  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>

									</div>
								</div>
							</div>


              <section class="account-menu">
                <ul class="clearfix" style="display: flex;justify-content: space-around;">

                  <li class="" style="width: 100%;">
                	 <a href="#" style="">Conta</a>
                	</li>

                	<li class="" style="width: 100%;">
                	 <a href="#" style="">Serviços</a>
                	</li>

                	<li class="last-child" style="background: none;width: 100%;">
                	 <a href="/">Oi Pontos</a>
                	</li>

                </ul>
              </section>

              <!-- conteúdo -->
              <section>
                  <div class="col-xs-12 without-padding">
                    <!-- conta -->
                    <div class="col-xs-8 without-padding">
                       <div class="resumo-conta">
                          <h4>Resumo da Última Conta</h4>
                          <div class="panel panel-default">
                             <div class="panel-body dados-conta">
                                <div class="table-responsive valor-a-pagar">
                                   <table class="table">
                                      <colgroup>
                                         <col class="col-xs-4">
                                         <col class="col-xs-2">
                                         <col class="col-xs-3">
                                         <col class="col-xs-3">
                                      </colgroup>
                                      <tbody>
                                         <tr class="first-child last-child">
                                            <td width="20%" class="first-child">
                                               <p>Data de Vencimento</p>
                                               <p>Status de Pagamento</p>
                                            </td>
                                            <td width="20%" style="font-size: 11px;" class="divider-right">
                                               <p>26/06/2017</p>
                                               <span style="text-align:right; margin-top:-3px; float:right;">
                                                  <font color="#D0021B">
                                                  <strong>Em Aberto</strong>
                                                  </font>
                                                  <span style="margin-top:-2px;" class="tooltipIco">&nbsp;</span>
                                                  <div style="opacity: 0; display: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Arial; top: 67px; left: 242px;" class="tooltip" id="testDiv">Caso você já tenha efetuado o seu pagamento, o mesmo pode demorar até 3 dias úteis para ser identificado</div>
                                               </span>
                                            </td>
                                            <td width="30.5%" class="divider-left">
                                               <span>Valor a Pagar</span>
                                            </td>
                                            <td width="19.5%" class="last-child">
                                               <p class="preco">
                                                  <sub>R$</sub>276,<sup>54</sup>
                                               </p>
                                            </td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <!-- END Resumo da conta -->
                                <!-- end -->
                                <div class="table-responsive servicos-pagamento">
                                   <table class="table">
                                      <colgroup>
                                         <col class="col-xs-4">
                                         <col class="col-xs-2">
                                         <col class="col-xs-3">
                                         <col class="col-xs-3">
                                      </colgroup>
                                      <tbody>
                                         <tr class="first-child last-child">
                                            <td class="first-child">Conta Online:</td>
                                            <td class="divider-right"><a href="/portal/site/MinhaOi/AdesaoCSP" class="green-label">Cadastrar</a></td>
                                            <td class="divider-left">Débito Automático:</td>
                                            <td class="last-child"><a href="/portal/site/MinhaOi/debito-automatico" class="red-label">Cadastrar</a></td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- info user data -->
                       <div class="c-account-user-info">
                         <p>Início da conta: 13/05/2017</p>
                         <p>Fechamento da conta: 13/06/2017</p>
                       </div>
                    </div>
                    <!-- end conta -->
                    <div class="col-xs-4">
                      <div class="acesso-rapido row center-block">
                        <h4>Acesso Rápido</h4>

                        <div class="row center-block">
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="via-conta"></span>2ª Via de Conta
                            </a>
                          </div>
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="conta-detalhada"></span>Ver Conta Detalhada
                            </a>
                          </div>
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="cod-barras-pagamento"></span>Código de Barras para Pagamento
                            </a>
                          </div>
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="ultimas-contas"></span>Últimas Contas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </section>

              <!-- gráfico -->
              <section>
                  <div style="margin-top: 48px;" class="col-xs-12 without-padding">
                    <div class="col-xs-8 without-padding">
                      <h4>Resumo do consumo do seu plano</h4>
                      <div class="panel panel-default">
                         <div class="panel-heading bar-chart">
                           <h4>Consumo de internet</h4>
                         </div>
                         <div class="panel-body">
                           <!-- start graphic -->
                           <div class="wrapper-graphic-cingapura">
                              <div class="container-erro-info">
                                <p>
                                  Ocorreu um erro ao carregar as suas informações.
                                  Em alguns instantes, tente novamente.
                                </p>
                                <a class="btn btn-default btn-try-again">
                                  Tentar novamente
                                </a>
                              </div>
                            </div>

                            <div class="consumo-detalhado-wrapper">
                              <button class="ver-detalhes-por-pessoa__">Ver consumo detalhado por pessoa</button>

                              <div>
                                <span class="collapsed detalhes" data-toggle="collapse" data-target="#detalhes-por-pessoa__">
  				                      </span>
                              </div>
                            </div>
                            <div id="detalhes-por-pessoa__" class="collapse">
                              <div class="full-container-chart">
                                <div class="header">
                                  <h4>Disponível pra navegar</h4>
                                </div>
                                <div class="col-xs-12 charts-dados-navegados">
                                </div>
                              </div>
                            </div>
                         </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <h4>Para seu móvel</h4>

                      <div class="btn-phone-container">
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Bloqueio por Perda ou Roubo
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Transferir saldo de internet
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Redistribuir internet
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Recarga online
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- outros gráficos abaixo -->
              <section id="saldoMinutos" class="account-saldoAtual">
             <script type="text/javascript">
                var dataDiff = '';

                var infoSaldo = new Array();


                infoSaldo[0] =
                {
                	"nomeCategoria" : "VOZ",
                 	"franquias-compartilhadas" :
                    		[

                				{"nome" : "Franquia off-net 100 minutos sem rollover",
                				 "contratado" : 100,
                				 "consumido" : 54,
                				 "disponivel" : 46,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "55",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "3252",
                				 "contratadoRaw": "6000"
                				}

                				,


                				{"nome" : "Pacote DDD e Roaming Nacional",
                				 "contratado" : 50,
                				 "consumido" : 11,
                				 "disponivel" : 40,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "21",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "630",
                				 "contratadoRaw": "3000"
                				}

                				,


                				{"nome" : "Franquia on-net e fixo sem rollover",
                				 "contratado" : 500000,
                				 "consumido" : 0,
                				 "disponivel" : 500000,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "0",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "0",
                				 "contratadoRaw": "30000000"
                				}

                				,


                				{"nome" : "Franquia off-net 50 minutos sem rollover",
                				 "contratado" : 50,
                				 "consumido" : 50,
                				 "disponivel" : 0,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "100",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "3000",
                				 "contratadoRaw": "3000"
                				}


                    		],
                	"consumoExtra" :
                		[
                			{"nome" : "Minutos de voz fora da franquia contratada", "unidade" : "MIN", "valor" : 0, "descricao" : "Aqui você verifica os minutos gastos com serviços que não fazem parte da sua franquia. Este consumo implicará uma cobrança extra na sua conta."}
                		]

                };

                infoSaldo[1] =
                {
                	"nomeCategoria" : "EVENTO",
                 	"franquias-compartilhadas" :
                    		[

                				{"nome" : "Pacote Oi Torpedo Ilimitado",
                				 "contratado" : 50000,
                				 "consumido" : 0,
                				 "disponivel" : 50000,
                				 "unidade" : "TORPEDOS",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "0",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "TORPEDOS",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "0",
                				 "contratadoRaw": "50000"
                				}


                    		],
                	"consumoExtra" :
                		[
                			{"nome" : "Torpedos fora da franquia contratada", "unidade" : "TORPEDOS", "valor" : 0, "descricao" : "Aqui você verifica o número de torpedos enviados além do permitido pelas suas franquias exibidas acima. Este consumo implicará uma cobrança extra na sua conta."}
                		]

                };


                var infoCompartilhada = new Array(); //array for non-shared bundles

                var telefonesInclusos = new Array(); // array for all terminals

                var telefones = ""; // array for all terminals



             </script>
             <!-- BEGIN Novo Saldo Parcial 2013 -->
             <div id="saldo" class="saldo-parcial col-xs-8 without-padding">
                <div class="clearfix">
                   <div class="pull-left">
                      <h4>Saldo Parcial</h4>
                   </div>
                   <div class="pull-right data-saldo">
                      <p>Início da conta:
                         13/06/2017
                      </p>
                      <p>Fechamento da conta:
                         13/07/2017
                      </p>
                   </div>
                </div>
                <!-- BEGIN Abas -->
                <div class="panel panel-default extra">
                   <div class="panel-body panel-oi">
                      <div class="header degrade">
                         <div class="pull-left col-xs-2">
                            <h4>Plano</h4>
                         </div>
                         <div class="pull-left col-xs-7 center-block control-tab">
                            <span class="periodo">
                               <p>Visualizar:</p>
                               <span id="ico-grafico" class="active">
                               <a href="#" title="Gáfico"></a>
                               </span>
                               <span id="ico-lista" class="">
                               <a href="#" title="Tabela"></a>
                               </span>
                            </span>
                         </div>
                         <div class="control-collapse pull-right col-xs-3 text-right" style="display: block;">
                            <a id="collapse-saldo-parcial" href="javascript:void(0);">+ Detalhes</a>
                            <span class="detalhes"></span>
                         </div>
                      </div>
                      <!-- Conteúdo do Saldo Parcial Dinâmico -->
                      <script src="/ArquivosEstaticos/MinhaOi/scripts/saldo.js" type="text/javascript"></script>
                      <div id="parcial-graficos" class="graficos-consumo abaSaldo" style="display: block;">
                         <table class="bloco-franquia item-plano">
                            <colgroup>
                               <col class="col-xs-4">
                               <col class="">
                               <col class="">
                               <col class="">
                            </colgroup>
                            <thead></thead>
                            <tbody class="VOZ">
                               <tr class="tit-produto">
                                  <td colspan="4" class="nome-item">VOZ</td>
                               </tr>
                               <tr>
                                  <td class="consumoParcial ajuste-quebra-linha-2">
                                     <div class="barraRealConsumo">
                                        <strong>Franquia off-net 100 minutos sem rollover</strong>
                                        <ul>
                                           <input type="hidden" value="0" id="valorExcedente"><input type="hidden" value="" id="unidadeExcedente">
                                           <li class="first text-right"><b>100</b>&nbsp;MIN&nbsp;</li>
                                           <li class="percentSaldo">
                                              <div class="leftConsumido"></div>
                                              <div class="percetConsumido  parcial" style="width: 226.85px;">
                                                 <div class="traco" style="width: 226.85px;"><b>55</b><strong>%</strong></div>
                                              </div>
                                              <div class="saldoFranquiaTotal" style="display: none;"><strong>Franquia 100% consumida</strong></div>
                                           </li>
                                           <li class="valConsumido" style="margin-left: 212.85px;"><b>54</b>&nbsp;MIN</li>
                                        </ul>
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <small class="saldoN">O seu saldo é aproximado e refere-se ao consumo até o dia 30/06/2017.</small>
                <!--input type="hidden" id="dataExtracao" value="O seu saldo é aproximado e refere-se ao consumo até o dia 30/06/2017."-->
             </div>
             <!--END Novo Saldo Parcial 2013 -->
             <input type="hidden" value="" id="valorExcedente">
             <input type="hidden" value="" id="unidadeExcedente">
             <!-- DPC Google Analytics -->
          </section>


          <section>
            <div class="col-xs-8 without-padding" style="margin-top:30px;">
              <h4>Serviços adicionais</h4>

              <p style="margin-top:20px">Texto descritivo sobre o que são SVA’s.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam.
              </p>

              <p>
                <a href="/test" style="font-size: 14px;font-weight: bold;line-height: 1.07;text-align: center;color: #222222;text-decoration:underline;margin-top:20px;display: inline-block;">
                  Veja seus serviços adicionais no plano
                </a>
              </p>
            </div>
          </section>

          <section class="account-historicoConta">
            <div class="col-xs-12 without-padding" style="margin-top:70px;">
            	 <h4>Histórico de Conta</h4>

            	 	<table>
            		<tbody><tr class="first-child">
            			<td class="first-child">
                    <img src="./ArquivosEstaticos/MinhaOi/images/historico.png" alt="" width="632" height="204"></td>
            			<!-- Alinhamento central da mensagem STI 85082 - Esteira agil - 27/05 -->
            			<td style="font-family: Arial; font-size: 10px;" align="center" class="last-child">
            			<img src="./ArquivosEstaticos/MinhaOi/images/dotted.png"><br>
            			Média de<br>Consumo<br>272,86
            			</td>
            		</tr>
            		<tr class="last-child">
            			<td style="font-family: Arial; font-size: 10px;" align="center" class="first-child last-child">Valores exibidos no gráfico em Reais</td>
            		</tr>
            		</tbody></table>
            </div>
        	</section>


				</div>
			</div>

		</div>
	</div>
	<!-- end: div_content -->

</div>
