<div id="home-inicio" class="main pull-left">

<script>
$(document).ready(function(){
	$( '#overlay, #close').on('click', function(event) {
    $(".lightbox").hide();
});
});
</script>
<section class="lightbox">
	<div class="modal-ini-minhaoi">
		<span class="close-icon"><i class="material-icons close-icon" id="close">&#xE5CD;</i></span>

		<p class="title-modal">A internet está quase no fim?</p>
		<p >Se um número do plano está ficando sem internet, você tem duas opções:</p>
		<div class="col-xs-5 box-modal">
			<p class="parag-modal">Transferir internet entre
 				os números do plano.
			</p>
			<a class="btn btn-default btn-modal-cingapura" href="transferencia-escolher-5-atores.html">Transferir saldo</a>

		</div>
		<div class="col-xs-5 pull-right box-modal">
			<p class="parag-modal">Comprar um pacote avulso de internet.
			</p>
			<a class="btn btn-default btn-modal-cingapura" href="compraPacote.html">Comprar pacote</a>

		</div>
	</div>
	<div id="overlay"></div>
</section>
			<div id="content">
				<!-- BEGIN: OCT -->











<!-- begin: style_minhaoi_nav_conta_fatura_oct -->

	<!-- COMBO START -->
	<div id="box-combo" class="nav-conta-fatura">
		<h2 class="sub-header">Combo</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
				<div class="row box-header">



							<div class="col-xs-8 pull-left produto-selecionado">


								<a href="/portal/site/MinhaOi/home_detalhes_fatura_pacote?multiplosPlanos=false&amp;categoria_plano=OCT&amp;id_produto=prod43701a41-88cd-4e00-8eb1-ac0b35f1ee6b&amp;conta_fatura=2747555569#div_oct_2747555569" }=""></a>



								<h3 class="last-child">Oi Total<small> (86) 98832-3136</small></h3>

							</div>
							<div class="col-xs-4 pull-right">


									<a title="Detalhes e Serviços" class="btn btn-default" href="/portal/site/MinhaOi/home_produto_combo?id_produto=prod43701a41-88cd-4e00-8eb1-ac0b35f1ee6b&amp;categoria_plano=OCT" role="button">DETALHES E SERVIÇOS</a>

							</div>



				</div>


					<div id="div_oct_2747555569"><div class="col-xs-4">
						<div class="resumo-conta">

							<h4>Resumo da Última Conta</h4>
							<div class="panel panel-default">
								<div class="panel-body dados-conta">

									<!-- Page Content : inicio -->




		<!--  inicio conteudo e-billing -->







				<!-- begin -->

				<!-- Resumo da conta -->



					<div class="table-responsive dados-servicos"><table class="table"><tbody><tr><td>Seu Plano Oi:&nbsp;</td><td>
													R$ &nbsp;170,87</td></tr><tr><td>Pacotes Contratados:&nbsp;</td><td>
													R$ &nbsp;19,90</td></tr><tr><td>Planos/Serviços Adicionais:&nbsp;</td><td>
													R$ &nbsp;0,00</td></tr><tr><td>Itens Extras:&nbsp;</td><td>
													R$ &nbsp;100,20</td></tr><tr><td>Outros Valores:&nbsp;</td><td>
													R$ &nbsp;35,67</td></tr></tbody></table></div><div class="table-responsive  valor-a-pagar"><table class="table"><tbody><tr><td><div>Valor a Pagar</div></td><td colspan="3"><p class="preco"><sub>R$</sub>276,<sup>54</sup></p></td></tr><tr><td colspan="2"></td></tr></tbody></table><table class="table"><tbody><tr class="dados-pagamento"><td colspan="3"><p>Data de Vencimento: </p><p>Status de Pagamento: </p></td><td><p>26/06/2017</p><span style="text-align:right; margin-top:2px; float:right;"><font color="#D0021B"><strong>Em Aberto</strong></font><span style="margin-top:-2px;" class="tooltipIco">&nbsp;</span><div style="opacity: 0; display: none; font:11px/13px Arial" class="tooltip" id="testDiv">Caso você já tenha efetuado o seu pagamento, o mesmo pode demorar até 3 dias úteis para ser identificado</div></span></td></tr></tbody></table></div>

				<!-- END Resumo da conta -->
				<!-- end -->

		<!--  fim conteudo e-billing -->


									<!-- Page Content : fim -->











		<div class="table-responsive servicos-pagamento">
		<table class="table">
			<tbody>

					<tr>
						<td>Conta Online:</td>



								<td><a href="/portal/site/MinhaOi/AdesaoCSP" class="red-label">Cadastrar</a></td>


					</tr>


					<tr>
						<td>Débito Automático:</td>



								<td><a href="/portal/site/MinhaOi/debito-automatico" class="red-label">Cadastrar</a></td>


					</tr>

			</tbody>
		</table>
		</div>




									<!-- PRJ 5819 END - peb-portlet-display-status-debitoautomatico-csp1 -->
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-8">

							<div class="acesso-rapido row center-block">
								<h4>Acesso Rápido</h4>
								<div class="segunda-via">




		<!--  inicio conteudo e-billing -->







		<!--PRJ 8184 - linkpdf novo p.k 10/24/15 INICIO-->


					<a class="btn btn-default" target="_blank" href="/portal/site/MinhaOi/template.SINGLEPORTLET/home_detalhes_fatura_pacote/?javax.portlet.tpst=75a1def4255b67f88a818a81eccc02a0_ws_BI&amp;javax.portlet.prp_75a1def4255b67f88a818a81eccc02a0=action%3DcarregaArquivoBinario&amp;javax.portlet.begCacheTok=com.vignette.cachetoken&amp;javax.portlet.endCacheTok=com.vignette.cachetoken&amp;controller=VisualizarPDFController&amp;categoria_plano=OCT&amp;tipoDocumento=FATURA&amp;dataConta=201706&amp;grupo=&amp;idContaFatura=1|2747555569&amp;fatura=789281727&amp;codContrato=&amp;ciclo=&amp;codLocal=&amp;terminal=&amp;cj=&amp;su=&amp;ddd=" role="button" onclick="executarga('Piauí',
									'PI',
									'R1',
									'bundle',
									'Combo',
									'pdf')">
						<span class="via-conta"></span>2ª Via de Conta</a>

		<!--</section>
		</section>-->

		<!--  fim conteudo e-billing -->


								</div>




















		<div class="vgn-ext-region" vgnextregionname="detalhes_fatura_oct_menu_botoes_novo" vgnextregionscope="template" vgnextregiontypes="VgnExtQuery" vgnextregionid="d5895dac44d40510VgnVCM1000009ad0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/detalhes_fatura/menu_botoes.jsp"><div class="vgn-ext-component" vgnextcomponentid="5d19e94efb64f210VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtQuery">




















				<a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.d1c50c701c9124de25b425b4246d02a0/?vgnextoid=20ab0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="conta-detalhada"></span>Ver Conta Detalhada</a>

				<a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.f64d612e7150b4de25b425b4246d02a0/?vgnextoid=165d0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="cod-barras-pagamento"></span>Código de Barras para Pagamento</a>

				<a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.c5610aaf2e1254de25b425b4246d02a0/?vgnextoid=2326433b0d27e210VgnVCM1000009ad0200aRCRD" role="button"><span class="ultimas-contas"></span>Últimas Contas</a>







		</div>
		</div>



							</div>
							<div class="meus-atalhos row center-block">
								<h4>Para o seu Combo</h4>



















		<div class="vgn-ext-region" vgnextregionname="detalhes_fatura_oct_menu_acesso_rapido_novo" vgnextregionscope="template" vgnextregiontypes="VgnExtQuery" vgnextregionid="db995dac44d40510VgnVCM1000009ad0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/detalhes_fatura/menu_acesso_rapido.jsp"><div class="vgn-ext-component" vgnextcomponentid="5869e94efb64f210VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtQuery">





		<!-- MENU ACESSO RAPIDO BEGIN -->














				<a title="Recarga Online" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.ec10c32f89b20bafc313c313eccc02a0/?vgnextoid=e85a27e947c98410VgnVCM10000031d0200aRCRD" role="button"><span class="text-align">Recarga Online</span></a>

				<a title="Perfil de Consumo" class="btn btn-default pull-right" href="/portal/site/MinhaOi/menuitem.27e4dc8b6107e4de25b425b4246d02a0/?vgnextoid=18eb0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="text-align">Perfil de Consumo</span></a>

				<a title="Religar Serviço" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.59121883cad7fdd5ab86ab86026d02a0/?vgnextoid=c2994481babe0410VgnVCM10000031d0200aRCRD" role="button"><span class="text-align">Religar Serviço</span></a>

				<a title="Solicitar Reparo" class="btn btn-default pull-right" href="/portal/site/MinhaOi/menuitem.9073efc65d0ac912fe82fe82246d02a0/?vgnextoid=20cf0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"></span><span class="text-align">Solicitar Reparo</span></a>
				<a title="Redistribuir internet" class="btn btn-default" href="" role="button"><span class="text-align">Redistribuir internet</span></a>
				<a title="Transferir saldo de internet" class="btn btn-default pull-right" href="" role="button"><span class="text-align">Transferir saldo de internet</span></a>


		<!-- MENU ACESSO RAPIDO END -->
		</div>
		</div>



							</div>

							<div class="warn-message row center-block home-minha-oi primeiro-warn">
									<i class="material-icons warn-icon">&#xE8B2;</i>
									<span>

										O número <strong>(21) 99209-0990</strong> já atingiu <strong>80%</strong> do seu plano de internet. <br/>O número ainda tem <strong>2GB</strong> até o dia <strong>22/10</strong>.
									</span>

									<p class="mais-internet"><a href="#">Quero mais internet</a></p>

							</div>


					</div>










</div>

			</div>
		</div>
	</div>



<!-- end: style_minhaoi_nav_conta_fatura_oct -->

<!-- END: OCT -->

				<!-- BEGIN: MVL -->











<!-- begin: style_minhaoi_nav_conta_fatura_mvl -->


 <div id="box-movel" class="nav-conta-fatura">
	 <h2 class="sub-header">Móvel</h2>
	 <div class="panel panel-default row box-produto">
	 	<div class="panel-body">
	 		<div class="row box-header">




	 					<div class="col-xs-6 pull-left">
	 						<!-- ajax - start -->


	 							<a id="linkAjaxMovel0" href="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodebd49e74-df74-4e76-b4ed-f1a90dc5260d&amp;conta_fatura=2823499883&amp;categoria_plano=MVL#div_mvl_2823499883"></a>


	 							<a id="linkAjaxMovel1" href="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodac430e09-1c2e-4a4c-8ec7-4a1528e6d4fb&amp;conta_fatura=2781341571&amp;categoria_plano=MVL#div_mvl_2781341571"></a>


	 							<a id="linkAjaxMovel2" href="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prod6c04b3b1-ae1c-40da-b888-de17e86b6a43&amp;categoria_plano=MVL#div_mvl_prod6c04b3b1-ae1c-40da-b888-de17e86b6a43"></a>

	 						<!-- ajax - end -->
	 						<select id="select-produto-movel" name="select-produto-movel-name" class="form-control custom-select-box" sb="21573335" style="display: none;">


	 								<option value="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodebd49e74-df74-4e76-b4ed-f1a90dc5260d&amp;conta_fatura=2823499883&amp;categoria_plano=MVL#div_mvl_2823499883" selected="">Oi Conta 250 (21 98601-0112)</option>


	 								<option value="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodac430e09-1c2e-4a4c-8ec7-4a1528e6d4fb&amp;conta_fatura=2781341571&amp;categoria_plano=MVL#div_mvl_2781341571">Plano Pós 250 (64 98436-6064)</option>


	 								<option value="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prod6c04b3b1-ae1c-40da-b888-de17e86b6a43&amp;categoria_plano=MVL#div_mvl_prod6c04b3b1-ae1c-40da-b888-de17e86b6a43">Oi Cartão (31 98957-3281)</option>

	 						</select><div id="sbHolder_21573335" class="sbHolder"><a id="sbToggle_21573335" href="#" class="sbToggle"></a><a id="sbSelector_21573335" href="#" class="sbSelector">Oi Conta 250 <small class="text-muted pull-right">(21 98601-0112)</small></a><ul id="sbOptions_21573335" class="sbOptions" style="display: none;"><li><a href="#/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodebd49e74-df74-4e76-b4ed-f1a90dc5260d&amp;conta_fatura=2823499883&amp;categoria_plano=MVL#div_mvl_2823499883" rel="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodebd49e74-df74-4e76-b4ed-f1a90dc5260d&amp;conta_fatura=2823499883&amp;categoria_plano=MVL#div_mvl_2823499883" class="sbFocus">Oi Conta 250 <small class="text-muted pull-right">(21 98601-0112)</small></a></li><li><a href="#/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodac430e09-1c2e-4a4c-8ec7-4a1528e6d4fb&amp;conta_fatura=2781341571&amp;categoria_plano=MVL#div_mvl_2781341571" rel="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prodac430e09-1c2e-4a4c-8ec7-4a1528e6d4fb&amp;conta_fatura=2781341571&amp;categoria_plano=MVL#div_mvl_2781341571">Plano Pós 250 <small class="text-muted pull-right">(64 98436-6064)</small></a></li><li><a href="#/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prod6c04b3b1-ae1c-40da-b888-de17e86b6a43&amp;categoria_plano=MVL#div_mvl_prod6c04b3b1-ae1c-40da-b888-de17e86b6a43" rel="/portal/site/MinhaOi/home_detalhes_fatura_mvl?multiplosPlanos=false&amp;id_produto=prod6c04b3b1-ae1c-40da-b888-de17e86b6a43&amp;categoria_plano=MVL#div_mvl_prod6c04b3b1-ae1c-40da-b888-de17e86b6a43">Oi Cartão <small class="text-muted pull-right">(31 98957-3281)</small></a></li></ul></div>
	 					</div>
	 					<div class="col-xs-4 pull-right">


	 							<a id="detalhe-movel-0" title="Detalhes e Serviços" class="btn btn-default" role="button" href="/portal/site/MinhaOi/home_produto_mvl?id_produto=prodebd49e74-df74-4e76-b4ed-f1a90dc5260d&amp;categoria_plano=MVL" style="display: block;">DETALHES E SERVIÇOS</a>


	 							<a id="detalhe-movel-1" title="Detalhes e Serviços" class="btn btn-default" role="button" href="/portal/site/MinhaOi/home_produto_mvl?id_produto=prodac430e09-1c2e-4a4c-8ec7-4a1528e6d4fb&amp;categoria_plano=MVL" style="display: none;">DETALHES E SERVIÇOS</a>


	 							<a id="detalhe-movel-2" title="Detalhes e Serviços" class="btn btn-default" role="button" href="/portal/site/MinhaOi/home_produto_mvl?id_produto=prod6c04b3b1-ae1c-40da-b888-de17e86b6a43&amp;categoria_plano=MVL" style="display: none;">DETALHES E SERVIÇOS</a>

	 					</div>


	 		</div>


	 			<div id="div_mvl_2823499883"><div class="col-xs-4">
	 					<div class="resumo-conta">

	 						<h4>Resumo da Última Conta</h4>
	 						<div class="panel panel-default">
	 							<div class="panel-body dados-conta">

	 								<!-- Page Content : inicio -->




	 <!--  inicio conteudo e-billing -->







	 			<!-- begin -->

	 			<!-- Resumo da conta -->



	 				<div class="table-responsive dados-servicos"><table class="table"><tbody><tr><td>Seu Plano Oi</td><td>R$&nbsp;62,86</td></tr><tr><td>Pacotes Contratados</td><td>R$ 0,00</td></tr><tr><td>Itens Extras</td><td>R$ -0,00</td></tr><tr><td>Outros Valores</td><td>R$ 0,00</td></tr><tr><td>Planos / Serviços Adicionais</td><td>R$ 71,10</td></tr></tbody></table></div><div class="table-responsive  valor-a-pagar"><table class="table"><tbody><tr><td><div>Valor a Pagar</div></td><td colspan="3"><p class="preco"><sub>R$</sub>285,<sup>18</sup></p></td></tr><tr><td colspan="4"></td></tr></tbody></table><table class="table"><tbody><tr class="dados-pagamento"><td colspan="3"><p>Data de Vencimento: </p><p>Status de Pagamento: </p></td><td><p>07/07/2017</p><span style="text-align:right; margin-top:2px; float:right;"><font color="#D0021B"><strong>Em Aberto</strong></font><span style="margin-top:-2px;" class="tooltipIco">&nbsp;</span><div style="opacity: 0; display: none; font:11px/13px Arial" class="tooltip" id="testDiv">Caso você já tenha efetuado o seu pagamento, o mesmo pode demorar até 3 dias úteis para ser identificado</div></span></td></tr></tbody></table></div>

	 			<!-- END Resumo da conta -->
	 			<!-- end -->

	 <!-- Google Analytics para o simples acesso da pagina  -->

	 <!--  fim conteudo e-billing -->


	 								<!-- Page Content : fim -->

	 								<!-- PRJ 5819 START - peb-portlet-display-status-debitoautomatico-csp1 -->










	 <div class="table-responsive servicos-pagamento">
	 	<table class="table">
	 		<tbody>

	 				<tr>
	 					<td>Conta Online:</td>


	 							<td class="green-label">Cadastrado</td>



	 				</tr>


	 				<tr>
	 					<td>Débito Automático:</td>


	 							<td class="green-label">Cadastrado</td>



	 				</tr>

	 		</tbody>
	 	</table>
	 </div>




	 								<!-- PRJ 5819 END - peb-portlet-display-status-debitoautomatico-csp1 -->
	 							</div>
	 						</div>
	 					</div>
	 				</div>

	 				<div class="col-xs-8">


	 						<div class="acesso-rapido row center-block">
	 							<h4>Acesso Rápido</h4>
	 							<div class="segunda-via">




	 <!--  inicio conteudo e-billing -->







	 <!--PRJ 8184 - linkpdf novo p.k 10/24/15 INICIO-->


	 				<a class="btn btn-default" target="_blank" href="/portal/site/MinhaOi/template.SINGLEPORTLET/home_detalhes_fatura_mvl/?javax.portlet.tpst=75a1def4255b67f88a818a81eccc02a0_ws_BI&amp;javax.portlet.prp_75a1def4255b67f88a818a81eccc02a0=action%3DcarregaArquivoBinario&amp;javax.portlet.begCacheTok=com.vignette.cachetoken&amp;javax.portlet.endCacheTok=com.vignette.cachetoken&amp;controller=VisualizarPDFController&amp;categoria_plano=MVL&amp;tipoDocumento=FATURA&amp;dataConta=201706&amp;grupo=&amp;idContaFatura=1|2823499883&amp;fatura=792873436&amp;codContrato=&amp;ciclo=&amp;codLocal=&amp;terminal=&amp;cj=&amp;su=&amp;ddd=" role="button" onclick="executarga('Rio de Janeiro',
	 								'RJ',
	 								'R1',
	 								'movel_pos',
	 								'OI Movel Pos',
	 								'pdf')">
	 					<span class="via-conta"></span>2ª Via de Conta</a>

	 <!--</section>
	 	</section>-->

	 <!-- Google Analytics  -->

	 <!--PRJ 8184 - linkpdf novo p.k 10/24/15 FIM-->

	 <!--  fim conteudo e-billing -->


	 							</div>



















	 	<div><div>




















	 			<a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.b9a1e3666594eda810600060246d02a0/?vgnextoid=eb9f927310ffe210VgnVCM1000009ad0200aRCRD" role="button"><span class="conta-detalhada"></span>Ver Conta Detalhada</a>

	 			<a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.8902e32b34339a7e3ea13ea1246d02a0/?vgnextoid=de32fe43b0c0e210VgnVCM1000009ad0200aRCRD" role="button"><span class="cod-barras-pagamento"></span>Código de Barras para Pagamento</a>

	 			<a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.8018351c185b9ce810600060246d02a0/?vgnextoid=bc91fe43b0c0e210VgnVCM1000009ad0200aRCRD" role="button"><span class="ultimas-contas"></span>Últimas Contas</a>







	 </div>
	 </div>



	 						</div>
	 						<div class="meus-atalhos row center-block">
	 							<h4>Para o seu Móvel</h4>



















	 	<div><div>





	 <!-- MENU ACESSO RAPIDO BEGIN -->














	 			<a title="Recarga Online" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.ec10c32f89b20bafc313c313eccc02a0/?vgnextoid=e85a27e947c98410VgnVCM10000031d0200aRCRD" role="button"><span class="text-align">Recarga Online</span></a>

	 			<a title="Ativar e Desativar Serviços" class="btn btn-default pull-right" href="/portal/site/MinhaOi/menuitem.12c704971435fd109db49db4246d02a0/?vgnextoid=de00fe43b0c0e210VgnVCM1000009ad0200aRCRD" role="button"><span class="text-align">Ativar e Desativar Serviços</span></a>

	 			<a title="Religar Serviço" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.5414ab5e69390ed5ab86ab86026d02a0/?vgnextoid=3390c47308be0410VgnVCM10000031d0200aRCRD" role="button"><span class="text-align">Religar Serviço</span></a>

	 			<a title="Bloqueio Perda e Roubo" class="btn btn-default pull-right" href="/portal/site/MinhaOi/menuitem.7a20d7429459d40f55625562246d02a0/?vgnextoid=6a94fe43b0c0e210VgnVCM1000009ad0200aRCRD" role="button"><span class="text-align">Bloqueio Perda e Roubo</span></a>
	 			<a title="Redistribuir internet" class="btn btn-default" href="" role="button"><span class="text-align">Redistribuir internet</span></a>
	 			<a title="Transferir saldo de internet" class="btn btn-default pull-right" href="" role="button"><span class="text-align">Transferir saldo de internet</span></a>
	 <!-- MENU ACESSO RAPIDO END -->
	 </div>
	 </div>



	 						</div>
	 						<div class="warn-message row center-block home-minha-oi">
								<i class="material-icons warn-icon">&#xE8B2;</i>

	 								<span>
	 									Existem números que atingiram 80% do seu plano de internet.
	 								</span>

	 								<p class="mais-internet"><a href="#">Quero mais internet</a></p>

	 						</div>


	 				</div>










	 </div>


	 			<div id="div_mvl_2781341571"></div>


	 			<div id="div_mvl_prod6c04b3b1-ae1c-40da-b888-de17e86b6a43"></div>

	 	</div>
	 </div>
</div>

<!-- end: style_minhaoi_nav_conta_fatura_mvl -->

<!-- END: MVL -->



				<!-- BEGIN: INT -->











<!-- begin: style_minhaoi_nav_conta_fatura_int -->


  <div id="box-internet" class="nav-conta-fatura">
    <h2 class="sub-header">Internet</h2>
	<div class="panel panel-default row box-produto">
		<div class="panel-body">
			<div class="row box-header">



						<div class="col-xs-8 pull-left">


								<a href="/portal/site/MinhaOi/home_detalhes_fatura_int?multiplosPlanos=false&amp;categoria_plano=INT&amp;id_produto=prodd7828a6b-d0b4-4970-9430-6ccacfebeae5&amp;conta_fatura=03150|8632134902|0|6#div_int_03150_8632134902_0_6"></a>



								<h3 class="last-child">VELOX RES<small> (86) 3213-4902</small></h3>

						</div>
						<div class="col-xs-4 pull-right">


								<a title="Detalhes e Serviços" class="btn btn-default" role="button" href="/portal/site/MinhaOi/home_produto_int?id_produto=prodd7828a6b-d0b4-4970-9430-6ccacfebeae5&amp;categoria_plano=INT">DETALHES E SERVIÇOS</a>

						</div>



			</div>


				<div id="div_int_03150_8632134902_0_6"><div class="vgn-ext-region" vgnextregionname="content_publisher_home_informacoes_internet_stc" vgnextregionscope="template" vgnextregiontypes="VgnExtQuery" vgnextregionid="07a0f18956b32310VgnVCM10000031d0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/artigo-segmentavel.jsp"><div class="vgn-ext-component" vgnextcomponentid="e1a0f18956b32310VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtQuery">









	<!-- Row 1 -->
<div class="row">
  <!-- Column 1 -->
  <div class="resumo-conta warning col-xs-7">
	<h4>Sua Conta</h4>
	<div class="panel panel-default">
	  <div class="panel-body">
		<span class="warning-sm pull-left"></span>
		<p><strong>A cobrança do seu Oi Velox é realizada na Conta do seu Oi Fixo.</strong></p>
	  </div>
	</div>
  </div>
  <!-- Column 2 -->
  <div class="mudanca-velocidade col-xs-5">
	<h4>Mudança de Velocidade</h4>
	<div class="panel panel-default center-block">
	  <div class="panel-heading">
		Aumentar a velocidade do seu Velox?
	  </div>
	  <div class="panel-body">
		<a class="btn btn-default ajaxLink" href="/portal/site/MinhaOi/parceiros?minhaoi.parceiros.url=URLP3e936258-a79d-4v91-aa8a-767925fa2604#content" role="button">Clique aqui para aumentar</a>
	  </div>
	</div>
  </div>
</div>

<!-- Row 2 -->
<div class="velox-wifi row">
  <div class="container-fluid">
	<h4>Oi Velox Wi-Fi</h4>
	<p>Para acessar a internet com Oi Velox de qualquer lugar da sua casa basta ter um modem padrão + roteador ou modem Wi-Fi.</p>
	<a class="btn btn-default" href="http://www.oi.com.br/oi/oi-pra-voce/internet/servicos/servicos-pro-seu-oi-velox/instalacao/monte-sua-rede-wi-fi/" target="_blank" role="button">Veja como funciona</a>
	<p class="text-muted">
	  <strong>Regra de Cobrança em caso de Mudança de Velocidade:</strong><br>
	  Caso você tenha alterado a velocidade do seu Oi Velox durante o seu ciclo de faturamento, a conta do seu Oi Fixo virá com duas cobranças referentes ao seu Oi Velox: um valor pró rata para a velocidade antiga e outro para a nova velocidade.
	</p>
	<p>Para mais detalhes sobre essa cobrança, acesse as <a href="http://faq.oi.com.br/category/oi-velox/" title="Perguntas Frequentes">Perguntas Frequentes</a></p>
  </div>
</div>
</div>
</div>
















</div>

		</div>
	</div>
</div>

<!-- end: style_minhaoi_nav_conta_fatura_int -->

<!-- END: INT -->



			</div>

		</div>
