<div id="home-inicio" class="main pull-left">

<script>
$(document).ready(function(){
	$( '#overlay, #close').on('click', function(event) {
    $(".lightbox").hide();
});
});
</script>
<section class="lightbox">
	<div class="modal-ini-minhaoi">
	<span class="close-icon"><i class="material-icons close-icon" id="close">&#xE5CD;</i></span>
			<p class="title-modal">Serviços adicionais</p>
	    <div class="form-group adicionais">
	      <label for="sel1">Selecione o número:</label>
	  		<select class="form-control" name="">
	  		  <option value="">(21) 98765-4321</option>
	        <option value="">(21) 99872-9799</option>
	        <option value="">(21) 98712-0921</option>
	        <option value="">(21) 98721-0921</option>
	        <option value="">(21) 98721-0921</option>
	  		</select>
	    </div>
	    <div class="border-modal">border</div>
			<div class="sva-itens">


			<div class="sva-item">
				<p class="sva-title">Te Ligou Pro</p>
				<p class="parag-modal-produto">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica.
				</p>
			</div>
			<div class="sva-item">
				<p class="sva-title">Oi Áudio Livros</p>
				<p class="parag-modal-produto">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica.
				</p>
			</div>
			<div class="sva-item pull-right">
				<p class="sva-title">Para Aprender</p>
				<p class="parag-modal-produto">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica.
				</p>
			</div>
			<div class="sva-item">
				<p class="sva-title">Oi Revistas</p>
				<p class="parag-modal-produto">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica.
				</p>
			</div>
			<div class="sva-item">
				<p class="sva-title">Playkids & BTFIT</p>
				<p class="parag-modal-produto">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica.
				</p>
			</div>
			</div>
		</div>
		<div id="overlay"></div>
	</section>

</div>
