<div id="home-produto" class="main pull-left">
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
				<div class="row box-header">
					<div class="container">
						<div class="col-xs-12 pull-left">
									<!-- style_minhaoi_telefones_inclusos :: INICIO -->

	                <!-- begin: style_minhaoi_telefones_inclusos -->
	                <div class="col-xs-12 pull-left">

	                  <p>Telefones no plano:</p>
	                  <p class="telefones-plano">
	                    (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
	                  </p>
			              <input id="idProdutoHome" type="hidden" value="">
	                </div>



	                <!-- end: style_minhaoi_telefones_inclusos -->



									<!-- style_minhaoi_telefones_inclusos :: FIM -->
								</div>
								<!-- teste categoria plano oct  -->

							</div>
						</div>

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

	        <section class="account-menu">
	          <ul class="clearfix" style="display: flex;justify-content: space-around;">

	            <li class="" style="width: 100%;">
	          	 <a href="#" style="">Contas</a>
	          	</li>

	          	<li class="" style="width: 100%;">
	          	 <a href="#" style="">Serviços</a>
	          	</li>

	          	<li class="last-child" style="background: none;width: 100%;">
	          	 <a href="/">Oi Pontos</a>
	          	</li>

	          </ul>
	        </section>

	        <section class="section__title">
	          <p class="title-cingapura">Distribuição de internet</p>
            <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE887;</i>Precisa de ajuda?</a></p>
	        </section>
          <section class="section__message--top">
            <p class="message__top--small">Detalhes do seu plano de internet</p>
            <p class="pull-right franquia-total">Franquia total: <span class="max-value-agendada"></span></p>
          </section>
          <section class="slider__redistribuir--agendada">
            <div id="my-slider-ini">

            </div>

            <div id="boxes__redistribuir" class="boxes__redistribuir__without_modal">

            </div>
            <div class="warn-message-info-redistribuicao">
              <span class="msg__redistribuicao"><i class="material-icons warn-icon">&#xE8B2;</i>
                No dia <strong>10/12/2017</strong> será aplicada uma nova distribuição.</span>
                <br/>
                <a href="#" class="btn btn-default btn-block-redistribuicao" data-toggle="modal" data-target="#myModal">Ver detalhes</a>
            </div>
          </section>
          <section class="redistribuicao__modal">
            <div id="myModal" role="dialog" class="modal fade" style="display: none;">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" type="button" class="close">×</button>
                    <p class="modal__title">Distribuição programada pra 23/04/2017</p>
                  </div>
                  <div class="modal-body">
                    <div id="my-slider-fim">

                    </div>
                    <div id="boxes__redistribuir" class="box__redistribuir__modal">

                    </div>
                </div>
                <div class="modal-footer">
                  <a data-dismiss="modal" type="button" class="btn btn-default">Fechar</a>
                </div>
              </div>
            </div>
          </div>
          </section>
          <section class="section__button">
            <a class="btn btn-default btn-block-transferir-saldo btn-transferir-saldo
            " href="redistribuicao_de_saldo_redefinindo.html">Distribuir internet</a>
          </section>
          <section class="section__message">
            <p class="cor__second">A distribuição de internet realizada hoje só entrará em vigor a partir do dia 10/12/2017.</p>
          </section>

					</div>
				</div>
		</div>
	</div>
</div>
