<div id="home-produto" class="main pull-left">
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Pós-Cingapura
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

            <section class="account-menu">
              <ul class="clearfix" style="display: flex;justify-content: space-around;">

                <li class="" style="width: 100%;">
              	 <a href="#" style="">Contas</a>
              	</li>

              	<li class="" style="width: 100%;">
              	 <a href="#" style="">Serviços</a>
              	</li>

              	<li class="last-child" style="background: none;width: 100%;">
              	 <a href="/">Oi Pontos</a>
              	</li>

              </ul>
            </section>

            <!-- Cingapura title -->
            <section class="section__title">
              <p class="title-cingapura">Transferência de saldo de internet</p>
              <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE887;</i>Precisa de ajuda?</a></p>
            </section>


            <!-- info de sucesso -->
            <section class="success-message-info">
              <span><i class="material-icons success-icon">&#xE86C;</i>Tudo certo! Sua compra foi confirmada com sucesso.</span>
            </section>
            <!-- info de tranferencia concluida -->
            <section class="section__info--transferencia cor__fourth">
              <p class="cor__fourth">Agora o número <strong>(21) 98712-0921</strong> tem <strong>2.01 GB</strong> e o <strong>(21) 98001-1977</strong> tem <strong>3.01 GB</strong> pra navegar.</p>
            </section>
						<section class="section__transferencia--selecionados">
              <div class="panel panel-default text-align--center col-xs-6 without-padding left-block">
               <div class="panel-heading">
                  <p class="panel-heading__itemName">Marianna</p>
                  <span class="panel-heading__itemNumber cor__second">(21) 98712-0921</span>
               </div>
               <div class="panel-body">
                  <p class="panel-heading__itemQty">2.01 GB</p>
                  <span class="panel-heading__itemQtyAvulso cor__third">+2 GB avulso</span>
               </div>
             </div>

              <div class="panel panel-default text-align--center col-xs-6 without-padding">
               <div class="panel-heading">
                  <p class="panel-heading__itemName">Ludmilla</p>
                  <span class="panel-heading__itemNumber cor__second">(21) 98001-1977</span>
               </div>

               <div class="panel-body">
                  <p class="panel-heading__itemQty">3.01 GB</p>
                  <!-- <span class="panel-heading__itemQtyAvulso">+2GB avulso</span> -->
               </div>
             </div>

						</section>

            <section class="section__button">
              <p class="transferencia__protocolo">Protocolo nº: <strong>201459385863</strong></p>
              <button class="btn btn-default btn-block-transferir-saldo btn-transferir-saldo
              ">Nova transferência</button>
            </section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
